.three-columns {
  z-index: 4;
  left: -173px;
  top: -20px;
  width: 1280px;
}

.three-columns .column {
  width: 33%;
  float: left;
}

.reveal section img {
  border: none;
}

/* .column:before, .column:after { */
/*   content: ""; */
/*   display: table; */
/* } */
/* .column:after { */
/*   clear: both; */
/* } */

.left-column {
  padding-top: 6em !important;
  margin-bottom: -1em !important;
}

.Basechart .label {
  font-size: 30%;
}
.Basechart text {
  fill: white;
}

.Basechart .xlabels line {
  stroke: white;
}

.Basechart .ylabels .tick text {
  font-size: 0.4em;
}
.Basechart .ylabels .tick line {
  fill: none;
  stroke: white;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.Basechart path.domain {
  fill: none;
  stroke: none;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.Barchart .plot rect.bar {
  fill: #97E8A2;
}

.Areachart .plot circle.circle {
  fill: #97E8A2;
}

q#borrower-quote {
  font-size: 1.2em;
  display: block;
  quotes: "“" "”"
}

input[type=range] {
  /* -webkit-appearance: slider-vertical; */
  width: 200px;
}

#h {
  display: inline-block;
  width: 30px;
}

svg.chart {
  height: 193px;
  width: 400px;
}

#return-distribution {
  margin-left: 400px;
}

svg.chart.Areachart {
  width: 800px;
}

h3.rotate {
  margin-left: -50px;
  position: absolute;
  -webkit-transform: translate(-50%,-50%) rotate(-90deg);
  -moz-transform: translate(-50%,-50%) rotate(-90deg);
  -ms-transform: translate(-50%,-50%) rotate(-90deg);
  -o-transform: translate(-50%,-50%) rotate(-90deg);
  transform: translate(-50%,-50%) rotate(-90deg);

  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}

/* about me slide */
#about-me img {
  box-shadow: none;

}
#research * {
  float: left;
}

#research video {
  width: 320px;
  margin 10px;
  border-radius: 15px / 10px;
  margin-bottom: 20px;
}

#hobbies {
  background-image:url('/images/me.jpg');
  float: right;
  width: 508px;
  height: 351px;
  border-radius: 15px / 10px;
}

#smoothing {
  width: 960px;
  background: white;
  border-radius: 15px / 10px;
  text-align: justify;
}

#smoothing img {
  margin-right: 50px;
  height: 313px;
}

#smoothing img:last-child {
  margin-right: 0;
  float: right;
}

#about-me-container {
  z-index: 4;
  left: -173px;
  top: -10px;
  width: 960px;
}

#about-me-container h2 {
  left: 362px;
  top: -38px;
  color: #666666;
  font-size: 0.8em;
}

#about-me-container #oxford-logo {
  float: right;
  position: absolute;
  right: 108px;
  height: 323px;
  z-index: -1;
}
